{{.company_name}}

{{.url}}

{{.reachable}}

{{.whois}}

{{.ping}}

{{.digIPv4}}

{{.digIPv6}}

{{.digCNAME}}

{{.digNS}}

{{.digMX}}

{{.digTXT}}

{{.digANY}}

{{.digSOA}}

{{.nslookupIP}}

{{.nslookupCNAME}}

{{.nslookupMX}}

{{.nslookupNS}}

{{.nslookupSRV}}

{{.nslookupTXT}}
